body {
    font-family: 'Arial', sans-serif;
    background: #f8f9fa;
    color: #333;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    color: #777;
}
